.App {
  margin: 0px;
  width: 100vw;
  height: 100vw;
  text-align: center;
}

#btnForTest{
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
#btnFor{
  justify-self: center;
  align-self: center;
  width: 6vw;
  height: 6vh;
  
}
#btnFor::before{
  justify-self: center;
  align-self: center;
  
}